*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "sidebar content content content"
    "sidebar content content content"
    "sidebar content content content"
    "sidebar content content content"
    ;
}
/*Sidebar*/
.sidebar{
    grid-area: sidebar;
    background-color: beige;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "profile"
    "nav"
    "nav"
    "footer";
    align-items: center;
}
/*Sidebar Profile*/
.profile{
    padding: 20px;
    grid-area: profile;
    margin-bottom: 22%;
}
.profile h1{
    font-size: 3em;
}
.profile p{
    padding-left: 5px;
}
/*Sidebar Navigation*/
.navigation{
    padding: 20px;
    grid-area: nav;
}
.nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "aboutme projects"
    "resume contact"
    ;
    grid-gap: 10px;
}
.nav li{
    list-style-type: none;
    text-align: center;
    background-color: rgb(255, 226, 185);
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.aboutme{
    grid-area: aboutme;
}
.projects{
    grid-area: projects;
}
.resume{
    grid-area: resume;
}
.contact{
    grid-area: contact;
}
/*Sidebar Footer*/
.footer{
    margin-top: 40%;
    padding: 20px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.copy{
    padding: 10px;
}
.homebutton{
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: rgb(255, 226, 185);
}
.homebutton a{
    text-decoration: none;
    color: black;
}